{% extends 'news/base.html' %}

{% load static %}

{% block content %}
<div class="tm-main-section light-gray-bg">
    <div class="container" id="main">
        <section class="tm-section row">
        <h2 class="gold-text tm-welcome-header-2">Изменение пароля</h2>
            <form action="{% url 'users:change_password' %}" method="post" class="tm-contact-form">{% csrf_token %}
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label id="{{ form.old_password.id_for_label }}">Cтарый пароль</label>
                        {{ form.old_password }}
                    </div>
                    <div class="form-group">
                        <label id="{{ form.new_password1.id_for_label }}">Новый пароль</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-group">
                        <label id="{{ form.new_password2.id_for_label }}">Подтверждение пароля</label>
                        {{ form.new_password2 }}
                    </div>
                    <div class="form-group">
                        <button class="tm-more-button" type="submit" name="submit">Изменить</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}