{% extends 'news/base.html' %}

{% load static %}

{% block content %}
<div class="tm-main-section light-gray-bg">
    <div class="container" id="main">
        <section class="tm-section row">
            <form action="{% url 'users:register' %}" method="post" class="tm-contact-form">{% csrf_token %}
                <div class="col-lg-6 col-md-6">
                    <h2 class="col-lg-12 margin-bottom-30">Присоединяйтесь к нам</h2>
                    <div class="form-group">
                        {{ form }}
                    </div>
                    <div class="form-group">
                        <button class="tm-more-button" type="submit" name="submit">Регистрация</button>
                    </div>
                    <p class="gray-text tm-welcome-description">Если у вас уже есть аккаунт, вы можете
                        <a class="gold-text" href="{% url 'users:login' %}">ВОЙТИ</a></p>
                </div>
            </form>
            <div class="col-lg-6 col-md-6">
                <h2 class="margin-bottom-30">Какие возможности даёт аккаунт?</h2>
                <ul>
                    <li><p>Вы сможете оценивать новости</p></li>
                    <li><p>Комментировать и оценивать комментарии других пользователей</p></li>
                    <li><p>Отслеживать только те игры, которые вам интересны</p></li>
                    <li><p>Предлагать игры для отслеживания</p></li>
                </ul>
            </div>
        </section>
    </div>
</div>
{% endblock %}