{% extends 'news/base.html' %}

{% load static %}

{% block content %}
<div class="tm-main-section light-gray-bg">
    <div class="container" id="main">
        <h2 class="gold-text tm-welcome-header-2">Изменение пароля</h2>
        {% if validlink %}
        <form method="post" class="tm-contact-form">{% csrf_token %}
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    {{ form }}
                </div>
                <div class="form-group">
                    <button class="tm-more-button" type="submit" name="submit">Cохранить</button>
                </div>
            </div>
        </form>
        {% else %}
        <p>Ccылка на изменение пароля недействительна, возможно кто-то уже воспользовался ей.
            Пожалуйста сделайте новый запрос, если всё ещё хотите изменить пароль.</p>
        {% endif %}
        </section>
    </div>
</div>
{% endblock %}