{% extends 'news/base.html' %}

{% load static %}

{% block content %}
<div class="tm-main-section light-gray-bg">
    <div class="container" id="main">
        <section class="tm-section row">
        <h2 class="gold-text tm-welcome-header-2">Cброс пароля</h2>
            <form action="{% url 'users:reset_password' %}" method="post" class="tm-contact-form">{% csrf_token %}
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        {{ form }}
                    </div>
                    <div class="form-group">
                        <button class="tm-more-button" type="submit" name="submit">Cбросить</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}